body{
    width:auto;
    height:auto;
}
.first{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:120px;
}
.logo{
    height:5vw;
    width:auto;
    margin-left:6vw;
}
.about{
    width:40vw;
    height:3.4vw;
    display:flex;
    align-items: center;
}
.about div{
    margin-right:3.4vw;
    font-size:1.4vw;
    text-align: center;
}
.second{
    margin-top :100px;
    height:35vw;
    margin-right:6vw;
    margin-left:6vw;
    display:flex;
}
.sp1{
    width:30vw;
    height:auto;
}
.product-detail{
    width: 45vw;
    height:27vw;
    margin-left:3vw;
}
.buy-button{
    display:flex;
    margin-left:4vw;
    height:4vw;
    margin-top:3vw;
}
.them{
    width:12vw;
    height:3.5vw;
}
.buy-now{
    width:12vw;
    height:3.5vw;
}
.buy-button button:hover{
    cursor: pointer;
}
.buy-button button{
    background-color: white;
    border:none;
}

.third{
    margin-top:6vw;
    width:100%;
    margin-bottom:0;
  }